<%= form_for(@teacher_registration) do |f| %>
  <% if @teacher_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_registration.errors.count, "error") %> prohibited this teacher_registration from being saved:</h2>

      <ul>
      <% @teacher_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :seminar_id %><br>
    <%= f.text_field :seminar_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
