<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seminar.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @seminar.active %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @seminar.visible %>
</p>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>

<hr />

<h4>Students in this seminar:</h4>
<p>Can we call student_registration/index and but only for this seminars id?</p>

<% @students.each do |s| %>
  <%= link_to s.user.email, s %>
  <br />
<% end %>

<h4>Lectures in this seminar:</h4>

<hr />

